## Projeto 3 - Felipe Aron, Eduardo Vaz e Pedro Lopes

### Bitcoin price

#### Introdução

Desde a ascêndencia da criptografia e da computação no final do século XX, as inovações digitais têm modificado a maneira como os índividuos se interagem e como é transmitida a informação. Em 2008, após muito desenvolvimento programacional de seus antecedentes Wei Dai, Adam Back, entre outros, Satoshi Nakamoto publicou o whitepaper do Bitcoin, que viria a se tornar o primeiro passo para a construção de um novo sistema de transações de valor. Foi criada uma ferramenta de armazenamento de dados capaz de construir um sistema descentralizado de validação de transações e requerimento de dados de forma completamente "trustless". Deu-se o nome para essa tecnologia de blockchain, pela forma como é escrita ao longo do tempo.



Começou-se uma nova revolução moedas virtuais chegaram para instaurar um novo modelo de negócio e de transação financeira. Sendo assim, buscamos nesse documento, analisar o movimento de valor de mercado do Bitcoin. Essa análise, vai se basear em buscar e comparar outros movimentos de mercado que possam influenciar o Bitcoin. 

Por exemplo, movimento de outros mercados financeiros e suas bolsas de valores, como São Paulo, Tokyo, Nova York e Xangai por exemplo. Outra variável que pode influenciar é a quantidade de carteiras, que seriam como “contas” contendo bitcoin no mundo todo, ela pode de acordo com certa análise representar a oferta e demanda do bitcoin.

Vamos utilizar o dataset que contem o valor da bitcoin em função do tempo, e analisar nesse mesmo tempo, movimento de outras bolsas e outros mercados pra analisar a reação da criptomoeda. Como o mercado da bitcoin não fecha, não abertura e fechamento de bolsa, consequentemente.

In [29]:
import pandas as pd
import os
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [30]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\pedro\Desktop\3 Semestre\DP-CD\Projeto3

In [31]:
data_wallets = pd.read_csv('MyWallet.csv',sep=',')
data_price = pd.read_csv('MyPrice.csv',sep=',')
data_transactions = pd.read_csv('MyTransactions.csv',sep=',')
data_difficult = pd.read_csv('MyDifficult.csv',sep=',')

In [32]:
data_wallets = data_wallets.rename(columns={'Value':"Number of BTC wallets in the network"})
data_wallets.head()

         Date  Number of BTC wallets in the network
0  2018-05-22                              445195.0
1  2018-05-21                              369970.0
2  2018-05-20                              378135.0
3  2018-05-19                              499647.0
4  2018-05-18                              420624.0

In [33]:
data_price = data_price.rename(columns={'Value':'BTC price U$'})
data_price.head()

         Date  BTC price U$
0  2018-05-22   8385.556187
1  2018-05-21   8507.406667
2  2018-05-20   8223.288333
3  2018-05-19   8240.055000
4  2018-05-18   8106.118333

In [34]:
data_transactions = data_transactions.rename(columns={'Value':'Number of transactions'})
data_transactions.head()

         Date  Number of transactions
0  2018-05-22                202647.0
1  2018-05-21                158663.0
2  2018-05-20                173274.0
3  2018-05-19                211496.0
4  2018-05-18                192683.0

In [35]:
data_difficult = data_difficult.rename(columns={'Value':'Minning difficult'})
data_difficult.head()

         Date  Minning difficult
0  2018-05-22       4.143878e+12
1  2018-05-21       4.143878e+12
2  2018-05-20       4.143878e+12
3  2018-05-19       4.143878e+12
4  2018-05-18       4.143878e+12